*{
    padding:0;
    margin:0;
    font-family:sans-serif;
}
body{
    background:#ffff19;
}
#wrapper{
    padding:4px;
}
#password{display:none;}
label{
    padding-left:8px;
    font-weight:bold;
    font-size:12px;
}
#username, #secret{
    display:block  
    margin-bottom:8px;
    padding:2px 6px 2px 6px;
}
#length_{
    display:block;
    width:100%;
    margin-top:8px;
    font-size:12px;
}
#submit{
    display:block;
    width:100%;
    font-weight:bold;
    padding:6px;
    color:black;
    font-size:12px;
    margin:8px 0 8px 0;
}
#message{
    padding: 8px 4px 8px 4px;
    font-weight:bold;
    text-align:center;
    font-size:12px;
}


